body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

a {
    color: #172c45;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs22 {
    font-size: 22px;
}

.main {
    width: 1230px;
    margin: 0px auto;
}

.top {
    background-color: #F8F8F8;
    height: 40px;
}

.bt {
    height: 40px;
    /* background-color: blue; */
}

/* .box {
    height: 10000px;
} */

.bt>.btz {
    width: 422px;
    line-height: 40px;
}

.btz .nav-link {
    padding-right: 40px;
}

.bt>.bty {
    width: 188px;
    line-height: 40px;
}

.bty .nav-link {
    padding-right: 20px;
}

.bty .nav-link span {
    color: #1292D5;
}

.bty .nav-link:hover {
    color: #337ab7;
}

.btz .nav-link:hover {
    color: #337ab7;
}

.top2 {
    height: 85px;
    /* padding-top: 25px; */
    /* background-color: darkkhaki; */
}

.bti {
    width: 250px;
    height: 35px;
    padding-top: 25px;
}


.bt2z .nav-link {
    padding: 0px 30px;
}

.bt2z .nav-link:hover {
    color: #337ab7;
}

.bt2y {
    width: 256px;
    height: 35px;
    padding-top: 25px;
    /* background-color: darkturquoise; */
}

.lb {
    width: 100%;
    background-color: dimgray;
    height: 480px;
    position: relative;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.swiper-slide>img {
    width: 120%;
    height: 480px;
}

.nav-list {
    width: 250px;
    height: 100%;
    position: absolute;
    left: 100px;
    top: 0px;
    z-index: 99;
    background-color: rgba(248, 247, 247, 0.8);
    float: left;
}
.nav-list > ul >li{
    height: 68px;
    margin-left: 20px;
}
.nav-list-p{
    color: rgb(153, 153, 153);
    font-size: 12px;
}
.nav-list-p span{
    margin-right: 10px;
}
.bds {
    height: 92px;
    /* background-color: beige; */
}

.bds-t {
    width: 200px;
    height: 46px;
    /* background-color: hotpink; */
    padding-top: 34px;
    line-height: 20px;
}

.bdx {
    height: 319px;
    /* background-color: honeydew; */
    padding-top: 5px;
}

.bdx-li1 {
    margin-right: 5px;
}

.bd-2x {
    height: 620px;
    padding-top: 5px;
}
.bd-2x li{
    background-color: white;
    margin-right: 8px;
    margin-bottom: 8px;
}
.footer {
    height: 522px;
    /* background-color: lavender; */
}

.footer-top {
    /* height: ; */
}
.bd-2{
    background-color: #F5F5F5;
}
.bd-2x-right {
    width: 900px;
    margin-left: 30px;
}

.bd-2x-right-ul li {
    float: left;
    width: 292px;
    height: 292px;
}

.bd-2x-right-ul li p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.new-pri{
    color: #CC0000;
    padding-left: 100px;
    
}
.new-p{
    font-size: 12px;
    color: rgb(176, 176, 176);
}

.bt2z {
    width: 660px;
    height: 100%;
    line-height: 35px;
    /* background-color: greenyellow; */
   
}
.bt2z .zz{
    display: flex;
    justify-content: space-between;
    height: 85px;
}
.zz ul{
    display: flex;
    height: 100%;
}
.zz>ul>li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 10px;
}
.zz ul ol{
    display: flex;
    height: 100%;
}
.bta{
    width: 100%;
    height: 280px;
    background-color: white;
    position: absolute;
    z-index: 999;
    display: none;
}
.bta ul{
    display: flex;
}
.bta ul li{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(176, 176, 176);
    width: 245px;
}
.bats{ 
    color:rgb(252, 102, 40);
    margin-left: 60px;
}
.btas1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lb-list{
    height: 480px;
    width: 300px;
    background-color: white;
    position: absolute;
    left: 350px;
    z-index: 99;
    float: left;
    display: none;
}
.lb-list>div{
    width: 140px;
    height: 60px;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}
.lb-list >div >img{
    width: 70px;
}
.bd_3{
    background-color: #f5f5f5;
}
.bds_3x{
    height: 310px;
    /* background-color: wheat; */
}
.bds_3t{
    height: 92px;
    line-height: 92px;
}
.bds_3x ul li{
    float: left;
    width: 300px;
    height: 300px;
    background-color: white;
    margin-right: 7px;
    margin-top: 5px;
    text-align: center;
}
.b3x_p1{
    font-size: 12px;
    color: rgb(118, 118, 118);

}
.b3x_p2{
    color: rgb(204, 0, 0);
    font-size: 14px;
}
.b3x_p2 span{
    color: rgb(118, 118, 118);
    text-decoration: line-through;
    margin-left: 10px;
}
.bds_3x ul li h6{
    font-size: 15px;
}
.d4y ul{
    width: 281px;
    display: flex;
}
.d4y ul li{
    flex: 1;
    /* float: left; */
}
.d4d{
    height: 310px;
    background-color: rgb(245, 245, 245);
}
.bd_4{
    background-color: rgb(245, 245, 245);
}
.d4d >ul > li{
    float: left;
    width: 300px;
    height: 300px;
    background-color: white;
    margin-right: 7px;
    margin-top: 5px;
    text-align: center;
}
.b4d ul li h6{
    font-size: 15px;
}
/* .foot{
    margin-top: 30px;
} */
.footer-top{
    height: 50px;
    border-bottom: 1px solid #B1B1B1;
    line-height: 50px;
    padding-bottom: 120px;
    /* display: flex; */
}
.footer-top li{
    /* flex: 1; */
    float: left;
    align-items: center;
    margin: 0px 75px;
    margin-top: 35px;
}
.footer-top li img{
    margin-right: 5px;
}
.footer-cen{
    height: 283px;
    border-bottom: 1px solid #B1B1B1;
}
.cen1{
    width: 592px;
    height: 192px;
    /* background-color: wheat; */
    margin-top: 55px;
    margin-left: 80px;
}
.cen2{
    width: 210px;
    height: 120px;
    /* background-color: greenyellow; */
    margin-top: 55px;
    margin-left: 270px;
}
.cenu1{
    float: left;
    margin-right: 70px;
    margin-left: 10px;
}
.cenu1 .cenul{
    font-size: 16px;
    color: black;
}
.cenu1 li{
    margin-bottom: 10px;
    color: rgb(153, 153, 153);
    font-size: 12px;
}
.cen2 p{
    color: rgb(120, 120, 120);
    font-size: 12px;
    margin: 15px 5px;
}
.cen-span{
    background-color: rgb(0, 134, 209);
    padding: 5px 8px;
    color: white;
}
.foot-bot{
    height: 112px;
    /* background-color: wheat; */
    text-align: center;
}
.bot-p1 span{
    color: rgb(118, 118, 118);
    font-size: 14px;
    margin: 15px 2px 8px;
}
.bot-p2 span{
    color: rgb(194, 194, 194);
    font-size: 12px;
    margin: 10px 2px 8px;
}
.bot-p3 span{
    color: rgb(194, 194, 194);
    font-size: 12px;
    margin: 10px 2px 8px;
}
.bot-p3 span img{
    width: 26px;
}